:root {
  --gap-size: 8px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:not(:last-child) {
  margin-bottom: var(--gap-size);
}

.gridRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 64px;
  height: 64px;
  font-size: 24px;

  border: solid 1px black;
}

.pencilMarks {
  position: absolute;
  top: 0;
  font-size: 8px;
}

.selectedCell {
  background-color: #f2f5f7;
  /* border-color: blue; */
}

.invalidCell {
  border-color: red;
}

.boldCellLeft {
  border-left: solid 2px black;
}

.boldCellTop {
  border-top: solid 2px black;
}

.boldCellRight {
  border-right: solid 2px black;
}

.boldCellBottom {
  border-bottom: solid 2px black;
}

.textbox {
  font-size: 32px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 8px;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.button:not(:last-child) {
  margin-right: var(--gap-size);
}

.textArea {
  width: 100%;
}
